doctype html
html(lang="ru")
	title="CSSSR Дело"
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet")
	link(rel="stylesheet" href="css/style.css")
body
	.page-wrapper
		.container
			header.page-header 
				.page-header__top
					a(href="javascript:void(0);" class="page-header__logo")
						img(src="img/csssr.png" width="154" height="52" alt="company logo")
					img(src="img/secret.png" width="252" height="106").img
				.page-header__bottom
					.img-wrapper
						img(src="img/deal.png" width="221" height="118")
			.page-form
				form 
					.page-form__group
						label(for="fio") Полное ФИО
						.custom-input
							input(class="" type="text"  id="fio" placeholder="" value="Котик Виктор Владимирович")
					.page-form__group
						label(for="year") Год рождения
						.custom-input
							input(type="text" id="year" placeholder="" value="1994")
					.page-form__group
						label(for="place") Место жительства
						.custom-input
							input(type="text" id="place" placeholder="" value="Украина")
					.page-form__group
						label(for="skype") Скайп
						.custom-input
							input(type="text" id="skype" placeholder="" value="vvk094")
					.page-form__group
						label(for="eml") Почта
						.custom-input
							input(type="email" id="eml" placeholder="" value="vmaklaren@gmail.com")
					section.page-form__text
						h3.page-form__title Расскажите о себе чекбоксами 
						p.page-form__paragraph Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
					.page__form-checkbox
						fieldset
							div 
								input(type="checkbox" id="check1" checked)
								label(for="check1") БЭМ/OOCSS
							div 
								input(type="checkbox" id="check2" checked)
								label(for="check2") Pug (Jade)
							div 
								input(type="checkbox" id="check3" checked)
								label(for="check3") Stylus/LESS/SASS
							div 
								input(type="checkbox" id="check4")
								label(for="check4") Работаю с SVG
							div 
								input(type="checkbox" id="check5" checked)
								label(for="check5") Верстаю семантично
							div 
								input(type="checkbox" id="check6")
								label(for="check6") Accessibility (A11Y)
							div 
								input(type="checkbox" id="check7" checked)
								label(for="check7") ES2015/ES2016
						fieldset 
							div 
								input(type="checkbox" id="check8" checked)
								label(for="check8") Gulp/GRUNT
							div 
								input(type="checkbox" id="check9")
								label(for="check9") Webpack
							div 
								input(type="checkbox" id="check10")
								label(for="check10") Дружу с WebGL
							div 
								input(type="checkbox" id="check11" checked)
								label(for="check11") jQuery
							div 
								input(type="checkbox" id="check12" checked)
								label(for="check12") Изучаю Angular
							div 
								input(type="checkbox" id="check13" checked)
								label(for="check13") Изучаю React
							div 
								input(type="checkbox" id="check14")
								label(for="check14") Знаю/изучаю Node.js
						fieldset
							div 
								input(type="checkbox" id="check15")
								label(for="check15") Использую Git
							div 
								input(type="checkbox" id="check16" checked)
								label(for="check16") С глазомером всё ок
							div 
								input(type="checkbox" id="check17")
								label(for="check17") Читаю 
									a(href="http://blog.csssr.ru") blog.csssr.ru
							div 
								input(type="checkbox" id="check18")
								label(for="check18") Я ленивый(-ая)
							div 
								input(type="checkbox" id="check19")
								label(for="check19") У меня хороший английский
				section.page-form-block
					h3.page-form__title Уровень владения JavaScript
					.page-form__measure 
						.line
						.page-form-vertical-wrapper
							.page-form__vertical-line Не владею 
							.page-form__vertical-line Использую готовые решения 
							.page-form__vertical-line Использую готовые решения и умею их переделивать 
							.page-form__vertical-line Пишу легкий JS c нуля 
				section.page-form-block
					h3.page-form__title Расскажите о себе словами 
					p.page-form__paragraph Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
				textarea.page-form-area#area-text(value="Viktor Kotick" data-autoresize) Здравствуйте! Зовут меня Виктор живу я в Украине. Работал  геофизиком некоторое время, но уволился сейчас подрабатываю на стройке! С недавних пор начал интересоватся веб-технологиями, вот начал понемногу изучать фронт(бек)енд, сначала это был курс программирования javarush, CS50, потом я начал интересоватся js,  алгоритмами читал Хорстманна немного, учусь по англоязычных и русских каналах youtube, проходил также курс htmlacademy базовый интенсив(правда что пиратский) думаю посмотреть также продвинутый, слушаю подкасты веб-стандартов(конечно в силу своего понимания). Хотелось бы куда то пойти что то попробовать ну вот и пишу в CSSSR.
				section.page-form-block
					h3.page-form__title Какие у вас планы на будущее? 
					p.page-form__paragraph Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				.page__form-radio
					div 
						input(type="radio" id="radio_1" name="select")
						label(for="radio_1") Верстать
					div 
						input(type="radio" id="radio_2" name="select" checked)
						label(for="radio_2") Прокачиваться в JS
					div 
						input(type="radio" id="radio_3" name="select")
						label(for="radio_3") Менеджерство 
					div 
						input(type="radio" id="radio_4" name="select")
						label(for="radio_4") Другое 
				.page-form-date
					h3.page-form__title Дата заполнения 
					span 7.04.2017
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="js/script.js")